.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

.comments__comment {
  display: flex;
  background: var(--white);
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 1rem;
  align-items: center;
}

.comments__comment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 50rem;
}

.comments__comment-rating-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: var(--light-gray);
  border-radius: 0.25rem;
  min-width: 2.5rem;
  height: 8rem;
}

.comments__comment-rating-vote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  cursor: pointer;
  width: 100%;
}

.comments__comment-info-reply {
  display: flex;
  justify-content: space-between;
}

.comments__comment-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comments__comment-reply-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.comments__avatar {
  width: 2rem;
}

.comments__reply-icon {
  width: 1rem;
  height: fit-content;
}

.comments__comment-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-height: 8rem;
  height: 100%;
}

.comments__comment-rating-vote-icon {
  width: 1rem;
  height: fit-content;
}

.comments__replies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding: 0 0 0 1rem;
  margin: 1rem 0 0 0;
  width: 90%;
  border-left: 4px solid var(--light-gray);
}

.comments__reply {
  width: 100%;
  display: flex;
  background: var(--white);
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 1rem;
  align-items: center;
}

.comments__reply-input-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  background: var(--white);
}

.comments__reply-input-avatar {
  width: 3rem;
  height: 3rem;
}

.comments__reply-input-send {
  background: var(--moderate-blue);
  color: white;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.comments__reply-input-field {
  width: 100%;
  border: 2px solid var(--dark-blue);
  border-radius: 0.25rem;
  height: 7rem;
  resize: none;
  padding: 1rem;
}
