<p (click)="logData()">comments works!</p>

<ul class="comments">
  <li class="comments__comment-wrapper" *ngFor="let comment of data.comments">
    <div class="comments__comment">
      <div class="comments__comment-rating-wrapper">
        <div class="comments__comment-rating-vote" (click)="increment(comment)">
          <img
            class="comments__comment-rating-vote-icon"
            src="./assets/images/icon-plus.svg"
            alt="upvote"
          />
        </div>
        <div class="comments__comment-rating">{{ comment.score }}</div>
        <div class="comments__comment-rating-vote" (click)="decrement(comment)">
          <img
            class="comments__comment-rating-vote-icon"
            src="./assets/images/icon-minus.svg"
            alt="downvote"
          />
        </div>
      </div>
      <div class="comments__comment-content-wrapper">
        <div class="comments__comment-info-reply">
          <div class="comments__comment-info">
            <img
              class="comments__avatar"
              [src]="comment.user.image.png"
              alt="avatar"
            />
            <p>{{ comment.user.username }}</p>
            <p>{{ comment.createdAt }}</p>
          </div>
          <div
            class="comments__comment-reply-button"
            (click)="addReply(comment, comment.user.username)"
          >
            <img
              class="comments__reply-icon"
              src="./assets/images/icon-reply.svg"
              alt="reply"
            />
            Reply
          </div>
        </div>
        <div class="comment__comment-content">
          {{ comment.content }}
        </div>
      </div>
    </div>
    <ul class="comments__replies" *ngIf="comment.replies.length > 0">
      <li class="comments__reply" *ngFor="let reply of comment.replies">
        <div class="comments__comment-rating-wrapper">
          <div class="comments__comment-rating-vote" (click)="increment(reply)">
            <img
              class="comments__comment-rating-vote-icon"
              src="./assets/images/icon-plus.svg"
              alt="upvote"
            />
          </div>
          <div class="comments__comment-rating">{{ reply.score }}</div>
          <div class="comments__comment-rating-vote" (click)="decrement(reply)">
            <img
              class="comments__comment-rating-vote-icon"
              src="./assets/images/icon-minus.svg"
              alt="downvote"
            />
          </div>
        </div>
        <div class="comments__comment-content-wrapper">
          <div class="comments__comment-info-reply">
            <div class="comments__comment-info">
              <img
                class="comments__avatar"
                [src]="reply.user.image.png"
                alt="avatar"
              />
              <p>{{ reply.user.username }}</p>
              <p>{{ reply.createdAt }}</p>
            </div>
            <div
              class="comments__comment-reply-button"
              (click)="addReply(comment, reply.user.username)"
            >
              <img
                class="comments__reply-icon"
                src="./assets/images/icon-reply.svg"
                alt="reply"
              />
              Reply
            </div>
          </div>
          <div class="comment__comment-content">
            {{ reply.content }}
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>
