.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.comments__comment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 40rem;
  width: 100%;
  gap: 1rem;
}

.comments__comment {
  display: flex;
  background: var(--white);
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.comments__comment-options-wrapper > div:nth-child(2) {
  display: none;
}

.comments__comment-rating-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: var(--light-gray);
  border-radius: 0.25rem;
  min-width: 2.5rem;
  height: 8rem;
}

.comments__comment-rating-vote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  cursor: pointer;
  width: 100%;
}

.comments__comment-rating-vote-icon {
  width: 1rem;
  height: fit-content;
}

.comments__comment-reply-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--moderate-blue);
  font-weight: 500;
}

.comments__comment-reply-icon {
  width: 1rem;
  height: fit-content;
}

.comments__comment-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  min-height: 8rem;
  height: 100%;
}

.comments__comment-info-reply-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comments__comment-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comments__comment-avatar {
  width: 2rem;
}

.comments__comment-created-at {
  color: var(--grayish-blue);
}

.comments__comment-edit-delete-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.comments__comment-delete {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--soft-red);
  font-weight: 500;
}

.comments__comment-delete-icon {
  width: 1rem;
}

.comments__comment-edit-icon {
  width: 1rem;
}

.comments__comment-edit {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--moderate-blue);
  font-weight: 500;
}

.comments__comment-content-update {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.comments__comment-reply-input-field {
  width: 100%;
  border: 2px solid var(--moderate-blue);
  border-radius: 0.25rem;
  height: 7rem;
  resize: none;
  padding: 1rem;
}

.comments__comment-reply-input-field:focus {
  outline: 1px solid var(--moderate-blue);
}

.comments__comment-reply-input-send {
  background: var(--moderate-blue);
  color: white;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: fit-content;
}

.comments__comment-reply-input-send:hover {
  background: var(--light-grayish-blue);
}

.comments__comment-content {
  width: 100%;
  color: var(--grayish-blue);
}

.comments__comment-delete-modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
}

.comments__comment-delete-modal {
  background: var(--white);
  padding: 2rem;
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.25rem;
}

.comments__comment-delete-modal-header {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-blue);
}

.comments__comment-delete-modal-message {
  color: var(--grayish-blue);
}

.comments__comment-delete-modal-buttons-wrapper {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}

.comments__comment-delete-modal-button-cancel {
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: var(--white);
  border-radius: 0.25rem;
  cursor: pointer;
  background: var(--grayish-blue);
}
.comments__comment-delete-modal-button-delete {
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: var(--white);
  border-radius: 0.25rem;
  cursor: pointer;
  background: var(--soft-red);
}

.comments__replies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding: 0 0 0 1rem;
  width: 90%;
  border-left: 4px solid var(--light-gray);
}

.comments__comment-reply {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.comments__comment-replying-to {
  color: var(--moderate-blue);
  cursor: pointer;
}

.comments__comment-reply-input-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  background: var(--white);
}

.comments__comment-reply-input-avatar {
  width: 3rem;
  height: 3rem;
}

.comments__add-comment {
  max-width: 40rem;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .comments__comment {
    flex-direction: column-reverse;
  }

  .comments__comment-rating-wrapper {
    flex-direction: row;
    min-width: 8rem;
    height: 3rem;
  }

  .comments__comment-info-reply-wrapper > div:nth-child(2) {
    display: none;
  }

  .comments__comment-options-wrapper > div:nth-child(2) {
    display: flex;
  }

  .comments__comment-options-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
